/* src/components/layout/Footer/Footer.css */
/* Footer principal */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  background: linear-gradient(90deg, #4b6cb7, #182848);
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  bottom: 3px;
  width: 96%;
  height: 2%;
  z-index: 1;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
